* {
    margin: 0;
    padding: 0;
    font-family: "Lexend", sans-serif;
}

body {
    padding: 20px;
    padding-left: 100px;
    padding-right: 70px;
    overflow: hidden;
}

.conteudo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.textos {
    width: 600px;
}

h2 {
    color: #333;
    font-size: 60px;
    font-weight: bold;
}

span {
    color: #017143;
    font-size: 70px;
    font-weight: 900;
}

p {
    font-size: 16px;
}

.link {
    display: inline-block;
    background-color: #017143;
    color: white;
    cursor: pointer;
    border-radius: 40px;
    border: none;
    padding: 10px;
    margin-top: 20px;
    text-decoration: none;
}

a:hover {
    background-color: #1a9b65;
    transform: translateY(-2px);
}

.imagem {
    margin-top: 250px;
    width: 600px;
    display: flex;
    justify-content: flex-end;
    margin-left: 450px;
}

.starbucks {
    height: 500px;
}

.menu {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px;
    text-align: center;
}

.botao-menu {
    width: 60px;
    cursor: pointer;
}

.botao-menu:hover {
    transform: translateY(-18px);
}

.circulo {
    width: 100%;
    height: 100%;
    background-color: #017143;
    position: fixed;
    clip-path: circle(600px at right 700px);
    z-index: -1;
}

/* Estilos responsivos para telas menores */
@media (max-width: 768px) {
    body {
        padding-left: 20px;
        /* Reduzindo o padding para celulares */
        padding-right: 20px;
        /* Reduzindo o padding para celulares */
        overflow: hidden;
    }

    .conteudo {
        flex-direction: column;
        /* Mudando a direção do flex para coluna */
        align-items: flex-start;
        /* Alinhando itens ao início */
    }

    .textos {
        width: 100%;
        /* Ajustando a largura para 100% */
        text-align: center;
        /* Centralizando o texto */
    }

    h2 {
        font-size: 40px;
        /* Diminuindo o tamanho da fonte */
    }

    span {
        font-size: 50px;
        /* Diminuindo o tamanho da fonte */
    }

    .imagem {
        width: 100%;
        /* Ajustando a largura da imagem */
        margin-left: 0;
        /* Removendo a margem esquerda */
        margin-top: 30px;
        /* Ajustando a margem superior */
    }

    .menu {
        display: flex;
        justify-content: center;
        padding: 5px;
        /* Ajustando o padding do menu */
    }

    .botao-menu {
        display: flex;
        justify-content: center;
        width: 60px;
        cursor: pointer;
    }

    .botao-menu:hover {
        transform: translateY(-18px);
    }

    .link {
        background-color: #0b5637;
    }

    .link:hover {
        background-color: #09643e;
    }

    .circulo {
        width: 100%;
        height: 100%;
        background-color: #017143;
        position: absolute;
        clip-path: circle(600px at right 950px);
    }
}