*{
    margin: 0;
    padding: 0;
    font-family: "Lexend", sans-serif;
}

body {
    padding: 20px;
    padding-left: 100px;
    padding-right: 70px;
    overflow: hidden;
}

.conteudo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.textos {
    width: 600px;
}

h2 {
    color: #333;
    font-size: 60px;
    font-weight: bold;
}

span {
    color: #017143;
    font-size: 70px;
    font-weight: 900;
}

p {
    font-size: 16px;
}

.link {
    display: inline-block;
    background-color: #017143;
    color: white;
    cursor: pointer;
    border-radius: 40px;
    border: none;
    padding: 10px;
    margin-top: 20px;
    text-decoration: none;
}

.jerry {
    text-decoration: underline;
}

a:hover {
    background-color: #1a9b65;
    transform: translateY(-2px);
}

.imagem {
    margin-top: 250px;
    width: 600px;
    display: flex;
    justify-content: flex-end;
    margin-left: 450px;
}

.starbucks {
    height: 500px;
}

.menu {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px;
    text-align: center;
}

.botao-menu {
    width: 60px;
    cursor: pointer;
}

.botao-menu:hover {
    transform: translateY(-18px);
}

.circulo {
    width: 100%;
    height: 100%;
    background-color: #017143;
    position: absolute;
    clip-path: circle(600px at right 700px);
    z-index: -1;
}

